.parentTop{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.gridTop{
    border: 2px solid #586d59;
    border: '1px solid red';
    display: flex;
    flex-direction: column;
}

.lightBackground {
    background-color: #586d59;
}

.columnsStyle {
    display: flex;
    flex-direction: column;
}

.rowStyle {
    display: flex;
}

.darkBackground {
    background-color: #F0FFFF;
}

.box {
    width: 9vw;
    height: 17vh;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    text-align: center;
    margin-bottom: 3%;
}

.cross{
    color: #59cc4c;
    font-size: 4vw;
    border-radius: 5px;
    line-height: 100px;
}

#popUp,#popUpInput{
    position: fixed; 
    display: none; 
    width: 100%; 
    height: 100%; 
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); 
    z-index: 2;  
}
select{
    display: block;
    margin: auto;
    padding: 8px 0;
    font-size: 20px;
    width: 28%;
    text-align-last: center;
}
#popUpInput{
    display:block;
}
#popUpContent,#popUpContentInput  {
    background-color: #fefefe;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    border: 1px solid #888;
    width: 28%;
    height: 20%;
    text-align: center;
    border-radius: 25px;
}
#popUpContentInput {
    height:25%;
}
#popUpContent p{
   margin: 13px 0;
   font-weight: bold;
   font-size: 20px;
   font-family: sans-serif;
   color: grey;
}
#popUpContent span,#popUpContentInput span{
  font-size: 30px;
  color:#009688;
  margin-top: 1px;
}
#popUpContentInput span{
    font-size:22px;
    font-weight: bold;
}
  #modal-dialog {
    background-color: #fefefe;
    border: 1px solid #888;
   }
  
   .modal-title p {
    font-weight: bold;
    font-family: sans-serif;
    color: grey; 
  }
  
  .modal-title  span {
    font-size: 2vw;
    color: #009688;
  }
  
  .modal-footer button,#popUpContentInput button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 12px;
    font-size: 2vw;
 }
  
  .modal-footer button:hover ,#popUpContentInput button:hover{
    border: 2px solid #4CAF50;
    background-color: white;
    color: #4CAF50!important; 
  }
  
    .modal-footer,.modal-header {
      text-align:center!important;
    }
  
    .modal {
      text-align: center;
      padding: 0!important;
    }
    
    .modal:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -4px;
    }
    
    .modal-dialog {
      display: inline-block;
      text-align: left;
      vertical-align: middle;
    }